body {
    max-width: fill;
    background-color: wheat;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
}

<<<<<<< HEAD
nav { 
    background-color: tan; 
}
=======
nav {
    background-color: tan;
}
>>>>>>> 560da75cb59f7407c8813f03e2b1557f46fdc212

h1 { color: darkgreen; }

.error { color: darkred; 
font-weight: bold;}

.success { color: green;
font-weight: bold;}

form div { margin: 20px 0; }

label {
    display: inline-block;
    width: 100px;
}
