{% extends 'base.html' %}
{% block title %} {{super()}} - BestBooks Admin {% endblock %}
{% block content %}
<h1>All BestBooks! Take your pick!</h1>

<a href = "{{ url_for('admin_book_highRating') }}"> Find Highly Rated in Thoughts </a> 
<br><br>
<a href = "{{ url_for('admin_book_deleteBadBooks') }}"> Delete Garbage Books </a>

<table class = "table table=striped" border = "1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Author</th>
        <th>Synopsis</th>
        <th>Rating</th>
        <th>Thoughts</th>
        <th>Created at</th>
        <th>Delete</th>
    </tr>
    {# The second book is the variable holding the information #}
    {% for book in book %}
    <tr>
        <td>{{ book.id }}</td>
        <td> {{ book.name }} </td>
        <td> {{ book.title }} </td>
        <td> {{ book.author }} </td>
        <td> {{ book.synopsis }} </td>
        <td> {{ book.rating }} </td>
        <td> {{ book.thoughts }} </td>
        <td> {{ book.created_at }} </td>  
        <td>
            <div>
                <form method = "POST" action = "{{ url_for('admin_book_deleteButton') }}">
                    <input name = "bookId" type = "hidden" value = "{{ book.id }}">
                    <button type = "submit"> Delete </button>
                </form>           
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %} 