<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestBooks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>

    <nav>
    <a href = "{{ url_for('book') }}"> Add BestBook </a> | 
    <a href = "{{ url_for('admin_book') }}"> View Database </a>
    <div>
        <form method = "POST" action = "{{ url_for('book_searchBook') }}">
            <label for = "userSearch"> Search for book : </label>
            <input type = "text" id = "userSearch" name = "userSearch" size = "30" placeholder= "Search the Database">
            <button type = "submit"> Search </button>
        </form>
    </div>
    </nav>

    <hr>

    {% block content %} {% endblock %}

</body>
</html>